#panel-container {
  display: flex;
  justify-content: center; /* Center the accordion */
  align-items: center;
  width: 100%; /* Ensures the panel container spans full width */
}

.centered-accordion {
  width: 80%; /* Accordion takes up 80% of the width */
  margin: 0 auto; /* Ensures the accordion is centered */
}

.panel-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Centers the panels */
}

.panel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 225px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgb(64, 84, 240);
  margin: 8px;
}
