#panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
}

.centered-accordion {
  width: 80%;
  margin: 0 auto;
}

.panel-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.panel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 225px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(25, 50, 75, 1);
  margin: 8px;
}
